html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

@font-face {
	font-family: 'Montserrat';	
	src: local('Montserrat Bold'), local('Montserrat-Bold'),		
        url('../fonts/MontserratBold.woff2') format('woff2'),
		url('../fonts/MontserratBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Montserrat';	
	src: local('Montserrat Medium'), local('Montserrat-Medium'),		
        url('../fonts/MontserratMedium.woff2') format('woff2'),
		url('../fonts/MontserratMedium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Montserrat';	
	src: local('Montserrat Regular'), local('Montserrat-Regular'),		
        url('../fonts/MontserratRegular.woff2') format('woff2'),
		url('../fonts/MontserratRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #fff;
    --color-gold: rgb(253, 236, 12);
    --color-orange: #e93314;
    --color-orange-light: #f96526;
    --color-black: rgb(13, 13, 18);
    --color-text: rgb(162, 162, 162);
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    height: 100%;
    color: var(--color-text);
    background-color: var(--color-white);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.link {
    display: inline-block;
    padding: 14px 20px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 21px;
    color: var(--color-white);
    background: linear-gradient(90deg, rgba(233,51,20,1) 0%, rgba(249,101,38,1) 100%);
    transition: background 0.3s ease-in-out, transfor 0.3s ease-in-out;
}

.link:focus-visible {
    transform: scale(1.02);
}

.link:hover {
    background: linear-gradient(90deg, rgba(249,101,38,1) 0%, rgba(233,51,20,1) 100%);
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;   
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}

.section {    
    margin-bottom: 50px;
    padding-top: 50px;
    position: relative;
}

.section__bacgr {
    padding-top: 50px;
    padding-bottom: 50px;     
    position: relative;
    inset: 0;
    background-color: rgba(13, 13, 18, 0.56);   
}

.header, .numbers, .questions, .principle, .application {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__container {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__bacgr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
}

.section__descr {
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 16px;    
    text-align: center;
}

.section__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 35px;
    line-height: 36px;
    color: var(--color-black);
    text-align: center;
}

.cards {
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*grid-template-columns: repeat(auto-fit, 250px);*/
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: -6px 9px 9px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -6px 9px 9px 1px rgba(0, 0, 0, 0.5);
    box-shadow: -6px 9px 9px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: -6px 9px 9px 1px rgba(0, 0, 0, 0.6);
}

.card:nth-last-child(1) {
    grid-column: 3 / 3;    
}

.card__img-box {
    min-height: 250px;
    max-height: 250px;
    height: 100%;
}

.card__img {
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
}

.card__title {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

/*Header*/
.header {    
    background-image: url(../img/header.jpg);   
}

.header__top {
    padding: 40px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 0 rgba(62,65,75,.1);
    border-radius: 5px;
}

.top-header__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-gold);
}

.top-header__text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-white);
    text-align: center;
}

.line {
    position: absolute;
    inset: 0;
    height: 5px;
    width: 100%;
    background-color: #e93314;
}

.header__bottom {
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-header__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    color: var(--color-gold);
    text-align: center;
}

.bottom-header__links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 700;
}

.bottom-header__arrow {
    margin-bottom: 50px;   
    width: 50px;
    height: 50px;
    color: var(--color-white);
}

.bottom-header__link-call {
    padding: 10px 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid var(--color-white);
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;    
    color: var(--color-white);
    transition: border 0.3s ease-in-out;
}

.bottom-header__link-call:hover {
    border: 1px solid var(--color-orange);
}

.link-call__icon {
    width: 24px;
    height: 24px;
}

.neoclass {
    margin-bottom: 100px;
}

/*Numbers*/
.numbers {   
    background-image: url(../img/numbers.jpg);      
}

.numbers__title, .numbers__descr {
    color: var(--color-white);
}

.numbers__list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    align-items: center;
    gap: 30px; 
    width: 100%;
    /*display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;*/
}

.numbers-card {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 5px;
    text-align: center;
    max-width: 243px;
    /*width: calc((100% - 90px) / 3);  */  
}

.numbers-card__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.numbers-card__number {
    margin-bottom: 30px;
}

.numbers-card__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.numbers-card__descr {    
    font-size: 12px;
    line-height: 22px;
}

.coffee-house__swiper {
    padding: 0 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.swiper-slide {
    object-fit: fill;
}

.coffee-house-button-prev,
.coffee-house-button-next {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    color: var(--color-orange-light);   
}

.coffee-house-button-prev {
    left: 0;
}

.coffee-house-button-next {
    right: 0;
}

.office__swiper {
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {    
    bottom: 0px;    
}  

/*Jointly*/
.jointly__list {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.jointly__item {
    padding:  0 40px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jointly__item-title {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    color: var(--color-black);
}

.jointly__item-descr {
    font-weight: 300;
    font-size: 16px;
}

.jointly__item-icon {    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245 242 238);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
}

.icon {
    width: 60px;
    height: 60px;
}

.jointly__item:nth-child(even) {
    margin-right: auto ;
    padding-right: 100px;
    width: 50%;
    border-right: 3px solid var(--color-black);
    text-align: right;
}

.jointly__item:nth-child(even) .jointly__item-icon {
    right: -50px;
}

.jointly__item:nth-child(odd) {
    margin-left: auto;  
    padding-left: 100px;
    width: 50%; 
    border-left: 3px solid var(--color-black);
}

.jointly__item:nth-child(odd) .jointly__item-icon {
    left: -50px;
}

.questions {   
    background-image: url(../img/questions.jpg);   
}

.questions__title {
    color: var(--color-white);
    line-height: 32px;
}

.questions__acc {
    margin-bottom: 50px;    
}

.ac {
    padding: 20px 0;
    border: none;    
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;   
}

.ac .ac-trigger {
    padding: 20px 40px 20px 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 26px;
    color: var(--color-white);
}

.ac .ac-trigger:focus {
    color: var(--color-white);
}

.ac .ac-panel .ac-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: var(--color-white);
}

.questions__link {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/*About*/
.about__container {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 30px;
}

.about__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.about__img {
    object-fit: fill;
}

.about__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.about__right-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about__title, .about__subtitle {
    margin: 0;
    text-align: left;
}

.about__title {
    margin-bottom: 10px;
}

.about__subtitle {    
    margin-bottom: 30px;
}

.about__descr {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.about__btn {
    padding: 20px 20px 20px 60px;
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--color-black);
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    text-align: center;
}

.about__btn::before {
    content: '';
    position: relative;
    top: 40%;
    left: -30px;
    width: 10px;
    height: 10px;    
    display: block;
    padding: 3px;
    border: solid var(--color-black);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.about__btn.open::before {   
    transform: translateY(5px) rotate(225deg);
}

.about__btn-text {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    will-change: transform;
}

.about__btn-text.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/*Principle*/
.principle {
    background-image: url(../img/princip/working.jpg);        
}

.principle__title {
    margin-bottom: 50px;
    color: var(--color-white);
}

.principle__list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
}

.principle__item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.principle__item-img {
    width: 100px;
    height: 100px;
}

.principle__item-text {
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

/*Application*/
.application {
    background-image: url(../img/form.jpg);   
}

.application__body {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 5px;
    max-width: 585px;
    text-align: center;
}

.application__icon {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

.application__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.application__descr {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 20px;
}

.application__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form {
    width: 100%;
}

.form__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.form__input {
    padding: 14px 20px;
    background-color: rgba(13, 13, 18, 0.12);
    border: none;
    border-radius: 30px;
    outline: none;
    width: 100%;
}

.form__input.error {
    outline: 1px solid red;
}

/* .form__input:focus {
    outline: 1px solid #3b99fc;
} */

.form__btn {
    margin-top: 56px;
}

/*Footer*/
.footer {
    background-color: var(--color-black);
}

.footer__container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.footer__descr {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: var(--color-white);
}

.footer__descr-text {
    font-weight: 300;
    font-size: 16px;
    color: rgb(89, 89, 124);
}

.footer__descr-text:not(:last-child) {
    margin-bottom: 30px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer__menu-item {
    padding: 5px;
}

.footer__menu-link {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
}

.footer__menu-link:hover {
    color: var(--color-orange);
}

.footer__btn {
    align-self: flex-start;
}